{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block additionnal_stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/sign.css") }}">
{% endblock %}

{% block body %}
     {{ form_start(registrationForm, { 'attr' : { 'class': 'form-sign text-center' } }) }}

        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

        {{ form_widget(registrationForm.username) }}
        {% if form_errors(registrationForm.username) %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm.username) }}
            </div>
        {% endif %}

        {{ form_widget(registrationForm.plainPassword) }}
        {% if form_errors(registrationForm.plainPassword) %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        {% endif %}


        <p>Already have an account ? <a href="{{ path('app_login') }}" class="link-secondary">Login</a></p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
    {{ form_end(registrationForm) }}
{% endblock %}
